Repository WashingtonKK/supermq: changes, and which Semaphore blocks are due for each by the changed paths.
All: Setup Protobuf, Lint and Test MQTT, Push MQTT, Lint and Test HTTP, Push HTTP, Lint and Test WS, Push WS, Lint and Test CoAp, Push CoAp, Lint and Test Twins, Build Twins, Lint and Test Users, Push Users, Lint and Test Things, Push Things, Lint and Test LoRa, Push LoRa, Lint and Test Consumers, Push Consumers, Lint and Test Logger, Push Logger, Lint and Test Certs, Push Certs, Lint and Test Bootstrap, Build Bootstrap

Setup Protobuf:
  jobs:
  - commands:
  ...

Lint and Test MQTT:
  jobs:
  - name: Lint MQTT
    commands:
    - cd mqtt
    - cache restore linter
    - ls -a
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test MQTT
    commands:
    - cd mqtt
  ...

Push MQTT:
  jobs:
  - commands:
    - make mqtt
    - docker push mainflux/mqtt
    name: Push MQTT

Lint and Test HTTP:
  jobs:
  - name: Lint HTTP
    commands:
    - cd http
    - cache restore linter
    - ls -a
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test HTTP
    commands:
    - cd http
  ...

Push HTTP:
  jobs:
  - commands:
    - make http
    - docker push mainflux/http
    name: Push HTTP

Lint and Test WS:
  jobs:
  - name: Lint WS
    commands:
    - cd ws
    - cache restore linter
    - ls -a
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test WS
    commands:
    - cd ws
    - go test ./... --race -v -coverprofile=coverage.out
  ...

Push WS:
  jobs:
  - commands:
    - make ws
    - docker push mainflux.ws
    name: Push Ws

Lint and Test CoAp:
  jobs:
  - name: Lint CoAp
    commands:
    - cd coap
    - cache restore linter
    - ls -a
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test CoAp
    commands:
    - cd coap
  ...

Push CoAp:
  jobs:
  - commands:
    - make coap
    - docker push mainflux/coap
    name: Push Coap

Lint and Test Twins:
  jobs:
  - name: Lint Twins
    commands:
    - cd twins
    - cache restore linter
    - ls -a
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Twins
    commands:
    - cd twins
  ...

Build Twins:
  jobs:
  - commands:
    - make twins
    - docker push mainflux/twins
    name: Push Twins

Lint and Test Users:
  jobs:
  - name: Lint Users
    commands:
    - cd users
    - cache restore linter
    - ls -a
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
    - cache restore codecov
    - ./codecov
  - name: Test Users
    commands:
    - cd users
  ...

Push Users:
  jobs:
  - commands:
    - make users
    - docker push mainflux/users
    name: Build Users

Lint and Test Things:
  jobs:
  - name: Lint Things
    commands:
    - cd things
    - cache restore linter
    - ls -a
    - ./bin/golangci-lint run --no-config --disable-all --enable gosimple,errcheck,govet,unused,goconst,godot --timeout 3m
  - name: Test Things
    commands:
    - cd things
  ...

Push Things:
  jobs:
  - commands:
    - make things
    - docker push mainflux/things
    name: Push Things

Fix conditions
  .semaphore/semaphore.yml
Due: none

Fix pipeline
  .semaphore/semaphore.yml
Due: none

Test parallel test and lint
  .semaphore/semaphore.yml
Due: none

Test cache
  .semaphore/semaphore.yml
Due: none

Remove pipeline file ignore
  .semaphore/semaphore.yml
Due: none

Test pipeline
  .semaphore/semaphore.yml
Due: none

Add consumers pipeline
  .semaphore/semaphore.yml
Due: none

Merge build and push artifact
  .semaphore/semaphore.yml
Due: none

Add certs pipeline
  .semaphore/semaphore.yml
Due: none

Update codecov secret
  .semaphore/semaphore.yml
Due: none

Test CI
  mqtt/mocks/auth.go
Due: Lint and Test MQTT, Push MQTT, Lint and Test HTTP

Test CI
  coap/adapter.go
Due: Lint and Test CoAp, Push CoAp

Fix change conditions
  .semaphore/semaphore.yml
Due: none

Test change
  cmd/coap/main.go
Due: none

update to latest opcua version
  go.mod
  go.sum
  opcua/gopcua/browser.go
  opcua/gopcua/subscribe.go
Due: none

wip
  certs/api/grpc/client.go
  certs/api/grpc/endpoint.go
  certs/api/grpc/server.go
  certs/certs.go
  certs/service.go
Due: Lint and Test Certs, Push Certs

extend certs service
  certs/certs.go
  certs/postgres/certs.go
  certs/postgres/init.go
  certs/service.go
  go.mod
  go.sum
Due: Lint and Test Certs, Push Certs

Path conditions:
  Setup Protobuf: any of: things/policies/auth.proto, users/policies/auth.proto
  Lint and Test MQTT: any of: mqtt/
  Push MQTT: any of: mqtt/
  Lint and Test HTTP: any of: mqtt/
  Push HTTP: any of: http/
  Lint and Test WS: any of: ws/
  Push WS: any of: ws/
  Lint and Test CoAp: any of: coap/
  Push CoAp: any of: coap/
  Lint and Test Twins: any of: twins/
  Build Twins: any of: twins/
  Lint and Test Users: any of: users/
  Push Users: any of: users/
  Lint and Test Things: any of: things
  Push Things: any of: things
  Lint and Test LoRa: any of: lora
  Push LoRa: any of: lora
  Lint and Test Consumers: any of: consumers
  Push Consumers: any of: consumers
  Lint and Test Logger: any of: logger
  Push Logger: any of: logger
  Lint and Test Certs: any of: certs
  Push Certs: any of: certs
  Lint and Test Bootstrap: any of: bootstrap
  Build Bootstrap: any of: bootstrap
